<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Options Page</title>
	</head>
	<body>
		<div class="monitor-form">
			<form [formGroup]="monitorForm" (ngSubmit)="onSubmitMonitorConfig()">
				<ul class="form-wrapper">
					<li class="form-row">
						<label for="identifier">Element Identifier</label>
						<input type="text" id="identifier" formControlName="identifier" />
					</li>
				</ul>
				<ul class="form-wrapper">
					<li class="form-row">
						<label for="textToSearch">Text to Search</label>
						<input type="text" id="textToSearch" formControlName="textToSearch" />
					</li>
				</ul>
				<ul class="form-wrapper">
					<li class="form-row">
						<label for="textState">Is text on Page</label>
						<div *ngFor="let state of textState">
							<input
								type="radio"
								id="textState"
								[value]="state"
								formControlName="textState"
							/>
							{{ state }}
						</div>
					</li>
				</ul>
				<ul class="form-wrapper">
					<li class="form-row">
						<button type="submit">Add Monitor Config</button>
					</li>
				</ul>
			</form>
		</div>

		<span *ngIf="!monitorForm.valid && monitorForm.touched"
			>The config is fully required to save
		</span>
	</body>

	<button (click)="getAllLocalStorage()">Get All Local Storage</button>
	<button (click)="getAllSyncStorage()">Get All Sync Storage</button>

	<app-servers>
		{{ 'putting some stuff in here' }}
	</app-servers>
</html>
