<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Options Page</title>
	</head>

	<mat-tab-group>
		<mat-tab label="Servers"><app-servers></app-servers> </mat-tab>
		<mat-tab label="Monitor"><app-monitor></app-monitor></mat-tab>
		<mat-tab label="Third"><app-monitor-configs></app-monitor-configs></mat-tab>
	</mat-tab-group>

	<button mat-raised-button color="accent" (click)="getAllLocalStorage()">
		Get All Local Storage
	</button>
	<button mat-raised-button color="warn" (click)="getAllSyncStorage()">
		Get All Sync Storage
	</button>
</html>
