<div>
	<mat-card>
		<form class="monitor-form" [formGroup]="monitorForm" (ngSubmit)="onAddMonitorConfig()">
			<h2>Monitor Configuration</h2>

			<mat-form-field appearance="fill">
				<mat-label>Page URL</mat-label>
				<input
					type="text"
					matInput
					formControlName="pageURL"
					placeholder="www.google.com"
					id="pageURL"
				/>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Element Identifier</mat-label>
				<input
					type="text"
					matInput
					formControlName="identifier"
					placeholder="'body'"
					id="identifier"
				/>
			</mat-form-field>

			<mat-form-field class="monitor-full-width" appearance="fill">
				<mat-label>Text To Search</mat-label>
				<input
					type="text"
					matInput
					formControlName="textToSearch"
					placeholder="Text to Search"
					id="textToSearch"
				/>
			</mat-form-field>

			<div class="radio-option">
				<h3>Is text on page</h3>

				<mat-button-toggle-group formControlName="isTextOnPage">
					<mat-button-toggle value="true">True</mat-button-toggle>
					<mat-button-toggle value="false">False</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<button mat-raised-button color="primary" type="submit">Start Monitor</button>
		</form>
	</mat-card>
</div>
