<mat-card>
	<form [formGroup]="monitorForm" (ngSubmit)="onAddMonitorConfig()">
		<mat-card-title>
			<h3>Monitor Configuration</h3>
		</mat-card-title>

		<mat-card-content class="monitor-form">
			<mat-form-field appearance="fill">
				<mat-label>Label</mat-label>
				<input
					type="text"
					matInput
					formControlName="label"
					placeholder="Enter a friendly label name"
					id="label"
				/>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Page URL</mat-label>
				<input
					type="text"
					matInput
					formControlName="pageURL"
					placeholder="www.google.com"
					id="pageURL"
				/>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Element Identifier</mat-label>
				<input
					type="text"
					matInput
					formControlName="identifier"
					placeholder="'body'"
					id="identifier"
				/>
			</mat-form-field>

			<mat-form-field class="monitor-full-width" appearance="fill">
				<mat-label>Text To Search</mat-label>
				<input
					type="text"
					matInput
					formControlName="textToSearch"
					placeholder="Text to Search"
					id="textToSearch"
				/>
			</mat-form-field>

			<mat-card-actions class="radio-option">
				<h3>Is text on page</h3>

				<mat-button-toggle-group formControlName="isTextOnPage">
					<mat-button-toggle value="true">True</mat-button-toggle>
					<mat-button-toggle value="false">False</mat-button-toggle>
				</mat-button-toggle-group>
			</mat-card-actions>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button color="primary" type="submit">Add Config</button>
		</mat-card-actions>
	</form>
</mat-card>
