<div>
	<mat-card>
		<div *ngFor="let server of webhookServers">
			Name: {{ server.serverName }} Webhook: {{ server.webhookUrl }}
		</div>
	</mat-card>

	<mat-card>
		<h1>Webhook Servers</h1>
		<form class="options-form" [formGroup]="serverForm" (ngSubmit)="onUpdateWebhook()">
			<mat-form-field class="options-full-width" appearance="fill">
				<mat-label>Server Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="serverName"
					placeholder="Checker"
					id="serverName"
				/>
				<mat-error *ngIf="serverForm.get('serverName').hasError('required')">
					Please enter a server name
				</mat-error>
			</mat-form-field>

			<mat-form-field class="options-full-width" appearance="fill">
				<mat-label>Webhook URL</mat-label>
				<input
					type="text"
					matInput
					formControlName="webhookUrl"
					placeholder="Checker"
					id="webhookUrl"
				/>
				<mat-error *ngIf="serverForm.get('webhookUrl').hasError('required')">
					Please enter a server name
				</mat-error>
			</mat-form-field>

			<mat-divider inset></mat-divider>

			<button mat-raised-button color="primary" type="submit">Update Webhook Url</button>
		</form>
	</mat-card>
</div>
