<div>
	<mat-card>
		<h1>Webhook Servers</h1>
		<form
			#formDirective="ngForm"
			class="options-form"
			[formGroup]="serverForm"
			#form="ngForm"
			(ngSubmit)="onAddServer(); form.reset()"
		>
			<mat-form-field class="options-full-width" appearance="fill">
				<mat-label>Server Name</mat-label>
				<input
					type="text"
					matInput
					formControlName="serverName"
					placeholder="Server Name"
					id="serverName"
				/>
				<mat-error
					*ngIf="serverForm.get('serverName').hasError('required') && serverForm.get('serverName').touched"
				>
					Please enter a server name
				</mat-error>
			</mat-form-field>

			<mat-form-field class="options-full-width" appearance="fill">
				<mat-label>Webhook URL</mat-label>
				<input
					type="text"
					matInput
					formControlName="webhookUrl"
					placeholder="Webook URL"
					id="webhookUrl"
				/>
				<mat-error
					*ngIf="serverForm.get('webhookUrl').hasError('required') && serverForm.get('webhookUrl').touched"
				>
					Please enter a server name
				</mat-error>
			</mat-form-field>
			<mat-divider inset></mat-divider>
			<button mat-raised-button color="primary" type="submit" style="margin-top: 10px">
				Update Webhook Url
			</button>
		</form>
	</mat-card>

	<mat-card style="margin: 8px">
		<h2>Servers</h2>
		<section *ngFor="let server of serversService.allServers">
			<mat-divider></mat-divider>
			<div class="server-list">
				<p>
					Server Name: {{ server.serverName }}
					<!-- Webhook: {{ server.webhookUrl }} -->
				</p>
				<button
					mat-icon-button
					color="warn"
					(click)="onDeleteServer(server)"
					(click)="openSnackBar(server.serverName)"
				>
					<mat-icon class="delete-button">cancel</mat-icon>
				</button>
			</div>
		</section>
		<button
			mat-raised-button
			color="primary"
			type="submit"
			(click)="fetchAllServers()"
			class="fetch-all-servers-button"
		>
			Fetch All Servers
		</button>
	</mat-card>
</div>
